<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>company_otis.png</string>
		<key>xy</key>
		<string>415,200</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Otis</string>
		<key>alignment</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>company_blank_left.png</string>
		<key>xy</key>
		<string>275,310</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Carrier</string>
		<key>alignment</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>company_blank_left.png</string>
		<key>xy</key>
		<string>200,210</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Taylor</string>
		<key>alignment</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>company_blank_left.png</string>
		<key>xy</key>
		<string>375,510</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Noresco</string>
		<key>alignment</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>company_blank_left.png</string>
		<key>xy</key>
		<string>500,580</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Marioff</string>
		<key>alignment</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>company_blank_left.png</string>
		<key>xy</key>
		<string>675,310</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Lenel</string>
		<key>alignment</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>company_blank_left.png</string>
		<key>xy</key>
		<string>775,210</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>AvanTEC</string>
		<key>alignment</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>company_blank_left.png</string>
		<key>xy</key>
		<string>775,510</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>AutomatorLOCK</string>
		<key>alignment</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>company_blank_left.png</string>
		<key>xy</key>
		<string>475,310</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Improve</string>
		<key>alignment</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>company_blank_left.png</string>
		<key>xy</key>
		<string>475,410</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Onity</string>
		<key>alignment</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>company_blank_left.png</string>
		<key>xy</key>
		<string>615,200</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Edwards</string>
		<key>alignment</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>company_blank_left.png</string>
		<key>xy</key>
		<string>315,400</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Kidde</string>
		<key>alignment</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
