<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>logo_otis.png</string>
		<key>xy</key>
		<string>469, 181.5</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Otis</string>
		<key>demoName</key>
		<string>Elevator</string>
		<key>alignment</key>
		<integer>2</integer>
		<key>categories</key>
		<array>
			<string>Elevators</string>
			<string>Escalators</string>
			<string>Destination Dispatch</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>logo_carrier.png</string>
		<key>xy</key>
		<string>573.5, 665.5</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Carrier</string>
		<key>demoName</key>
		<string>HVAC</string>
		<key>alignment</key>
		<integer>2</integer>
		<key>categories</key>
		<array>
			<string>Elevators</string>
			<string>Escalators</string>
			<string>Destination Dispatch</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>logo_taylor.png</string>
		<key>xy</key>
		<string>196.5, 485</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Taylor</string>
		<key>demoName</key>
		<string>Refrigeration</string>
		<key>alignment</key>
		<integer>2</integer>
		<key>categories</key>
		<array>
			<string>Elevators</string>
			<string>Escalators</string>
			<string>Destination Dispatch</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>logo_noresco.png</string>
		<key>xy</key>
		<string>166.5, 412</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Noresco</string>
		<key>demoName</key>
		<string>Energy Efficiency</string>
		<key>alignment</key>
		<integer>2</integer>
		<key>categories</key>
		<array>
			<string>Elevators</string>
			<string>Escalators</string>
			<string>Destination Dispatch</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>logo_marioff.png</string>
		<key>xy</key>
		<string>142, 337</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Marioff</string>
		<key>demoName</key>
		<string>Fire Protection</string>
		<key>alignment</key>
		<integer>2</integer>
		<key>categories</key>
		<array>
			<string>Elevators</string>
			<string>Escalators</string>
			<string>Destination Dispatch</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>logo_lenel.png</string>
		<key>xy</key>
		<string>142.5, 245</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Lenel</string>
		<key>demoName</key>
		<string>Security</string>
		<key>alignment</key>
		<integer>2</integer>
		<key>categories</key>
		<array>
			<string>Elevators</string>
			<string>Escalators</string>
			<string>Destination Dispatch</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>logo_advantec.png</string>
		<key>xy</key>
		<string>185.5, 170.5</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>AdvanTE3C</string>
		<key>demoName</key>
		<string>Digital Signage</string>
		<key>alignment</key>
		<integer>2</integer>
		<key>categories</key>
		<array>
			<string>Elevators</string>
			<string>Escalators</string>
			<string>Destination Dispatch</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>logo_automated.png</string>
		<key>xy</key>
		<string>291, 127</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>AutomatedLogic</string>
		<key>demoName</key>
		<string>Automation</string>
		<key>alignment</key>
		<integer>2</integer>
		<key>categories</key>
		<array>
			<string>Elevators</string>
			<string>Escalators</string>
			<string>Destination Dispatch</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>logo_sustain.png</string>
		<key>xy</key>
		<string>800, 138</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Sustainability</string>
		<key>demoName</key>
		<string>Sustainability</string>
		<key>alignment</key>
		<integer>2</integer>
		<key>categories</key>
		<array>
			<string>Elevators</string>
			<string>Escalators</string>
			<string>Destination Dispatch</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>logo_onity.png</string>
		<key>xy</key>
		<string>825, 242.5</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Onity</string>
		<key>demoName</key>
		<string>Door Security</string>
		<key>alignment</key>
		<integer>2</integer>
		<key>categories</key>
		<array>
			<string>Elevators</string>
			<string>Escalators</string>
			<string>Destination Dispatch</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>logo_edwards.png</string>
		<key>xy</key>
		<string>803, 309.5</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Edwards</string>
		<key>demoName</key>
		<string>Life Safety</string>
		<key>alignment</key>
		<integer>2</integer>
		<key>categories</key>
		<array>
			<string>Elevators</string>
			<string>Escalators</string>
			<string>Destination Dispatch</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>company</string>
		<key>background</key>
		<string>logo_kidde.png</string>
		<key>xy</key>
		<string>771, 397</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string></string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>Kidde</string>
		<key>demoName</key>
		<string>Fire Suppresion</string>
		<key>alignment</key>
		<integer>2</integer>
		<key>categories</key>
		<array>
			<string>Elevators</string>
			<string>Escalators</string>
			<string>Destination Dispatch</string>
		</array>
	</dict>
</array>
</plist>
