<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>movie</string>
		<key>background</key>
		<string>Marker.png</string>
		<key>xy</key>
		<string>675,310</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string>Remote Diagnostics</string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>HOT_SPOT_COATED_STEEL_BELTS.m4v</string>
		<key>alignment</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>background</key>
		<string>Marker_Right.png</string>
		<key>xy</key>
		<string>744,308</string>
		<key>angle</key>
		<string>225</string>
		<key>caption</key>
		<string>Coated Steel Belts</string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string></string>
		<key>alignment</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>movie</string>
		<key>background</key>
		<string>Marker.png</string>
		<key>xy</key>
		<string>670,426</string>
		<key>angle</key>
		<string>270</string>
		<key>caption</key>
		<string>Glide Door Operators</string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string>UTC_SPIN_ANIMATION.mov</string>
		<key>alignment</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>background</key>
		<string>Marker.png</string>
		<key>xy</key>
		<string>700,490</string>
		<key>angle</key>
		<string>315</string>
		<key>caption</key>
		<string>Compact Controller</string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string></string>
		<key>alignment</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>background</key>
		<string>Marker_Right.png</string>
		<key>xy</key>
		<string>728,482</string>
		<key>angle</key>
		<string>315</string>
		<key>caption</key>
		<string>ReGen Drive</string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string></string>
		<key>alignment</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>background</key>
		<string>Marker.png</string>
		<key>xy</key>
		<string>670,526</string>
		<key>angle</key>
		<string>315</string>
		<key>caption</key>
		<string>Environmentally Responsible Technology</string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string></string>
		<key>alignment</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
