<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>removeafterseconds</key>
	<integer>23</integer>
	<key>hotspots</key>
	<array>
		<dict>
			<key>type</key>
			<string>movie</string>
			<key>background</key>
			<string>icon marker right.png</string>
			<key>xy</key>
			<string>780,74</string>
			<key>angle</key>
			<string>180</string>
			<key>caption</key>
			<string>Remote Diagnostics</string>
			<key>RGB</key>
			<string></string>
			<key>fileName</key>
			<string>HOT_SPOT_COATED_STEEL_BELTS.m4v</string>
			<key>alignment</key>
			<integer>3</integer>
			<key>hotspottext</key>
			<array>
				<dict>
					<key>copy</key>
					<string>Industry-changing, patented technology</string>
					<key>appearanceDelay</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>Coated steel belts create a remarkably smooth ride</string>
					<key>appearanceDelay</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>New machine is 70% smaller than conventional geared machines</string>
					<key>appearanceDelay</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>Machine actually fits inside the hoistway, eliminating machine room</string>
					<key>appearanceDelay</key>
					<integer>17</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>movie</string>
			<key>background</key>
			<string>icon marker left.png</string>
			<key>xy</key>
			<string>580,120</string>
			<key>angle</key>
			<string>315</string>
			<key>caption</key>
			<string>ReGen Drive</string>
			<key>RGB</key>
			<string></string>
			<key>fileName</key>
			<string></string>
			<key>alignment</key>
			<integer>2</integer>
			<key>hotspottext</key>
			<array>
				<dict>
					<key>copy</key>
					<string>Fireworks Graphical Command Interface/Incident Management Platform</string>
					<key>appearanceDelay</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>Monitor and control all necessary life safety network information through a graphic display of your facilities down to the detail of a single location</string>
					<key>appearanceDelay</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>Communicates other emergency events — weather, shelter in place, chemical spill, etc. — in lieu of an unsupervised intercom system</string>
					<key>appearanceDelay</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>Optimum Start assures comfortable settings at time of occupancy based on building conditions and system capacity. Demand Reduction reduces energy use on a short-term basis in response to utility pricing, billing criteria, regional consumption, etc.</string>
					<key>appearanceDelay</key>
					<integer>11</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>movie</string>
			<key>background</key>
			<string>icon marker left.png</string>
			<key>xy</key>
			<string>620,267</string>
			<key>angle</key>
			<string>270</string>
			<key>caption</key>
			<string>Glide Door Operators</string>
			<key>RGB</key>
			<string></string>
			<key>fileName</key>
			<string>UTC_SPIN_ANIMATION.mov</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>hotspottext</key>
			<array>
				<dict>
					<key>copy</key>
					<string>Fireworks Graphical Command Interface/Incident Management Platform</string>
					<key>appearanceDelay</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>Monitor and control all necessary life safety network information through a graphic display of your facilities down to the detail of a single location</string>
					<key>appearanceDelay</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>Communicates other emergency events — weather, shelter in place, chemical spill, etc. — in lieu of an unsupervised intercom system</string>
					<key>appearanceDelay</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>Optimum Start assures comfortable settings at time of occupancy based on building conditions and system capacity. Demand Reduction reduces energy use on a short-term basis in response to utility pricing, billing criteria, regional consumption, etc.</string>
					<key>appearanceDelay</key>
					<integer>11</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>movie</string>
			<key>background</key>
			<string>icon marker left.png</string>
			<key>xy</key>
			<string>550,330</string>
			<key>angle</key>
			<string>315</string>
			<key>caption</key>
			<string>Environmentally Responsible Technology</string>
			<key>RGB</key>
			<string></string>
			<key>fileName</key>
			<string></string>
			<key>alignment</key>
			<integer>2</integer>
			<key>hotspottext</key>
			<array>
				<dict>
					<key>copy</key>
					<string>Fireworks Graphical Command Interface/Incident Management Platform</string>
					<key>appearanceDelay</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>Monitor and control all necessary life safety network information through a graphic display of your facilities down to the detail of a single location</string>
					<key>appearanceDelay</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>Communicates other emergency events — weather, shelter in place, chemical spill, etc. — in lieu of an unsupervised intercom system</string>
					<key>appearanceDelay</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>Optimum Start assures comfortable settings at time of occupancy based on building conditions and system capacity. Demand Reduction reduces energy use on a short-term basis in response to utility pricing, billing criteria, regional consumption, etc.</string>
					<key>appearanceDelay</key>
					<integer>11</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>movie</string>
			<key>background</key>
			<string>icon marker right.png</string>
			<key>xy</key>
			<string>790,380</string>
			<key>angle</key>
			<string>225</string>
			<key>caption</key>
			<string>Coated Steel Belts</string>
			<key>RGB</key>
			<string></string>
			<key>fileName</key>
			<string></string>
			<key>alignment</key>
			<integer>3</integer>
			<key>hotspottext</key>
			<array>
				<dict>
					<key>copy</key>
					<string>Fireworks Graphical Command Interface/Incident Management Platform</string>
					<key>appearanceDelay</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>Monitor and control all necessary life safety network information through a graphic display of your facilities down to the detail of a single location</string>
					<key>appearanceDelay</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>Communicates other emergency events — weather, shelter in place, chemical spill, etc. — in lieu of an unsupervised intercom system</string>
					<key>appearanceDelay</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>Optimum Start assures comfortable settings at time of occupancy based on building conditions and system capacity. Demand Reduction reduces energy use on a short-term basis in response to utility pricing, billing criteria, regional consumption, etc.</string>
					<key>appearanceDelay</key>
					<integer>11</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>movie</string>
			<key>background</key>
			<string>icon marker left.png</string>
			<key>xy</key>
			<string>500,400</string>
			<key>angle</key>
			<string>315</string>
			<key>caption</key>
			<string>Compact Controller</string>
			<key>RGB</key>
			<string></string>
			<key>fileName</key>
			<string></string>
			<key>alignment</key>
			<integer>2</integer>
			<key>hotspottext</key>
			<array>
				<dict>
					<key>copy</key>
					<string>Fireworks Graphical Command Interface/Incident Management Platform</string>
					<key>appearanceDelay</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>Monitor and control all necessary life safety network information through a graphic display of your facilities down to the detail of a single location</string>
					<key>appearanceDelay</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>Communicates other emergency events — weather, shelter in place, chemical spill, etc. — in lieu of an unsupervised intercom system</string>
					<key>appearanceDelay</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>copy</key>
					<string>Optimum Start assures comfortable settings at time of occupancy based on building conditions and system capacity. Demand Reduction reduces energy use on a short-term basis in response to utility pricing, billing criteria, regional consumption, etc.</string>
					<key>appearanceDelay</key>
					<integer>11</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
