<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hotspots</key>
	<array>
		<dict>
			<key>type</key>
			<string>movie</string>
			<key>background</key>
			<string>icon marker right.png</string>
			<key>xy</key>
			<string>780,74</string>
			<key>width</key>
			<string>360</string>
			<key>angle</key>
			<string>180</string>
			<key>caption</key>
			<string>Remote Diagnostics</string>
			<key>RGB</key>
			<string></string>
			<key>fileName</key>
			<string>HOT_SPOT_COATED_STEEL_BELTS.m4v</string>
			<key>alignment</key>
			<integer>3</integer>
			<key>removeafterseconds</key>
			<integer>23</integer>
			<key>facts</key>
			<dict>
				<key>factscopy</key>
				<array>
					<dict>
						<key>copy</key>
						<string>All critical elevator functions are monitored 24/7 by Otis</string>
						<key>appearanceDelay</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>copy</key>
						<string>Data gathering allows for custom service visits</string>
						<key>appearanceDelay</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>copy</key>
						<string>Identify issues before they become problems</string>
						<key>appearanceDelay</key>
						<integer>14</integer>
					</dict>
					<dict>
						<key>copy</key>
						<string>Technicians are dispatched automatically for urgent issues</string>
						<key>appearanceDelay</key>
						<integer>18</integer>
					</dict>
				</array>
				<key>factwidth</key>
				<string>300</string>
				<key>factxy</key>
				<string>130,300</string>
			</dict>
		</dict>
		<dict>
			<key>type</key>
			<string>movie</string>
			<key>background</key>
			<string>icon marker left.png</string>
			<key>xy</key>
			<string>580,120</string>
			<key>width</key>
			<string>360</string>
			<key>angle</key>
			<string>315</string>
			<key>caption</key>
			<string>ReGen Drive</string>
			<key>RGB</key>
			<string></string>
			<key>fileName</key>
			<string></string>
			<key>alignment</key>
			<integer>2</integer>
			<key>removeafterseconds</key>
			<integer>23</integer>
			<key>facts</key>
			<dict>
				<key>factscopy</key>
				<array>
					<dict>
						<key>copy</key>
						<string>Gen2® elevators with ReGen™ drives use up to 75% less energy than conventional elevators</string>
						<key>appearanceDelay</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>copy</key>
						<string>Advanced ReGen™ drive technology turns gravity into energy</string>
						<key>appearanceDelay</key>
						<integer>10</integer>
					</dict>
				</array>
				<key>factwidth</key>
				<string>360</string>
				<key>factxy</key>
				<string>20,210</string>
			</dict>
		</dict>
		<dict>
			<key>type</key>
			<string>movie</string>
			<key>background</key>
			<string>icon marker left.png</string>
			<key>xy</key>
			<string>620,267</string>
			<key>width</key>
			<string>360</string>
			<key>angle</key>
			<string>270</string>
			<key>caption</key>
			<string>Glide Door Operators</string>
			<key>RGB</key>
			<string></string>
			<key>fileName</key>
			<string>UTC_SPIN_ANIMATION.mov</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>removeafterseconds</key>
			<integer>17</integer>
			<key>facts</key>
			<dict>
				<key>factscopy</key>
				<array>
					<dict>
						<key>copy</key>
						<string>Doors open quietly and quickly - as fast as 1.4 seconds</string>
						<key>appearanceDelay</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>copy</key>
						<string>Greatly reduced floor-to-floor travel times equals less wait time</string>
						<key>appearanceDelay</key>
						<integer>4</integer>
					</dict>
					<dict>
						<key>copy</key>
						<string>Direct drive technology means fewer moving parts and less maintenance</string>
						<key>appearanceDelay</key>
						<integer>8</integer>
					</dict>
				</array>
				<key>factwidth</key>
				<string>333</string>
				<key>factxy</key>
				<string>20,80</string>
			</dict>
		</dict>
		<dict>
			<key>type</key>
			<string>movie</string>
			<key>background</key>
			<string>icon marker left.png</string>
			<key>xy</key>
			<string>550,330</string>
			<key>width</key>
			<string>360</string>
			<key>angle</key>
			<string>315</string>
			<key>caption</key>
			<string>Environmentally Responsible Technology</string>
			<key>RGB</key>
			<string></string>
			<key>fileName</key>
			<string></string>
			<key>alignment</key>
			<integer>2</integer>
			<key>removeafterseconds</key>
			<integer>16</integer>
			<key>facts</key>
			<dict>
				<key>factscopy</key>
				<array>
					<dict>
						<key>copy</key>
						<string>Sleep mode powers down lights and fans when idle</string>
						<key>appearanceDelay</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>copy</key>
						<string>LED lights save energy and last 10 times longer</string>
						<key>appearanceDelay</key>
						<integer>10</integer>
					</dict>
				</array>
				<key>factwidth</key>
				<string>330</string>
				<key>factxy</key>
				<string>20,180</string>
			</dict>
		</dict>
		<dict>
			<key>type</key>
			<string>movie</string>
			<key>background</key>
			<string>icon marker right.png</string>
			<key>xy</key>
			<string>790,380</string>
			<key>width</key>
			<string>360</string>
			<key>angle</key>
			<string>225</string>
			<key>caption</key>
			<string>Coated Steel Belts</string>
			<key>RGB</key>
			<string></string>
			<key>fileName</key>
			<string></string>
			<key>alignment</key>
			<integer>3</integer>
			<key>removeafterseconds</key>
			<integer>24</integer>
			<key>facts</key>
			<dict>
				<key>factscopy</key>
				<array>
					<dict>
						<key>copy</key>
						<string>Industry-changing, patented technology</string>
						<key>appearanceDelay</key>
						<integer>4</integer>
					</dict>
					<dict>
						<key>copy</key>
						<string>Coated steel belts create a remarkably smooth ride</string>
						<key>appearanceDelay</key>
						<integer>6</integer>
					</dict>
					<dict>
						<key>copy</key>
						<string>New machine is 70% smaller than conventional geared machines</string>
						<key>appearanceDelay</key>
						<integer>10</integer>
					</dict>
					<dict>
						<key>copy</key>
						<string>Machine actually fits inside the hoistway, eliminating machine room</string>
						<key>appearanceDelay</key>
						<integer>17</integer>
					</dict>
				</array>
				<key>factwidth</key>
				<string>360</string>
				<key>factxy</key>
				<string>625,355</string>
			</dict>
		</dict>
		<dict>
			<key>type</key>
			<string>movie</string>
			<key>background</key>
			<string>icon marker left.png</string>
			<key>xy</key>
			<string>500,400</string>
			<key>width</key>
			<string>360</string>
			<key>angle</key>
			<string>315</string>
			<key>caption</key>
			<string>Compact Controller</string>
			<key>RGB</key>
			<string></string>
			<key>fileName</key>
			<string></string>
			<key>alignment</key>
			<integer>2</integer>
			<key>removeafterseconds</key>
			<integer>10</integer>
			<key>facts</key>
			<dict>
				<key>factscopy</key>
				<array>
					<dict>
						<key>copy</key>
						<string>Small enough to fit inside the wall at top elevator landing</string>
						<key>appearanceDelay</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>copy</key>
						<string>No need to plan extra room at top of hoistway</string>
						<key>appearanceDelay</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>copy</key>
						<string>Much easier access for diagnostics and repair</string>
						<key>appearanceDelay</key>
						<integer>7</integer>
					</dict>
				</array>
				<key>factwidth</key>
				<string>360</string>
				<key>factxy</key>
				<string>20,203</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
